# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Environment variables
.env

# Test reports and artifacts
allure-results/
allure-report/
test-results/
playwright-report/

# Coverage data and reports
.coverage
.coverage.*
htmlcov/
coverage.xml

# OS
.DS_Store
